// font
$button-color-disabled: #b4b4b4;
$back-button-color: #48484A;

// borders
$button-border-disabled: #dcdcdc;

$radio-button-border: #37314f;

// background
$button-background: #f4f4f4;
$button-background-hover: #f4f4ff;
$button-background-disabled: #ffffff;

$radio-button-background: #37314f;