.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}

.additionalInfoSection {
    display: flex;
    flex-direction: row;
}

.additionalInfo {
    margin: 16px
}