.wrapper {
  display: flex;
  margin-top: 8px;
}

@media screen and (max-width: 600px) {
  .wrapper {
      flex-direction: column;
  }
}

.radioButton {
  display: inline-block;
  margin-left: 20px;
}

.mainWrapper {
  display: flex;
  justify-content: flex-end;
}