.container {
  display: inline-flex;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  padding-left: 35px;
  user-select: none;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    border: 1px solid #37314f;
    cursor: inherit;
  }

  /* show the indicator (dot/circle) when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  /* style the indicator (dot/circle) */
  .checkmark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #37314f;
  }

  /* create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #9290a4;
  }

  /* when the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    border: 2px solid #37314f;
  }

  input:disabled ~ .checkmark {
    border: 2px solid gainsboro;
  }

  /* create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  // on mouse-over add a grey background color
  &:hover input ~ .checkmark {
    background-color: #f4f4ff;
  }

  &.disabled {
    cursor: default;
    color: gray;

    .checkmark:after {
      background: #b4b4b4;
    }

    &:hover input ~ .checkmark {
      background-color: transparent;
    }
  }
}
